<% provide(:title, "All users") %>

<h1>All <%= @users.count %> users</h1>

<%= will_paginate %>

<ul>
   <%= render @users %>
<!--
  <% @users.each do |user| %>
   <%= render 'users/user' , user: user %>
  <% end %>
-->
</ul>

<%= will_paginate %>

