<% provide(:title, @user.username ) %>



   <h1>
     <%= gravatar_for @user %>
    <%= @user.username %>
   </h1>


   <div>
     <% if @user.microposts.any? %>
       <h3> Microposts (<%= @user.microposts.count %>) </h3>
       <ol>
          <%= render @microposts %>
       </ol>
       <%= will_paginate @microposts %>
     <% end %>
   </div>
 





