<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title) %> | Loba</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<body>

 <div id="main-container" class="container">
     <div class="row">
        <div class="text-left" >Logo for Loba</div>
        <div class="text-right" >
           <%= link_to("Log in","#") %>
           <%= link_to("Sign up","#") %>
       </div>
     </div>
    <div class="row">
      <nav  id="sidebar" class="col-md-2">
         <ul>
             <li><%= link_to("Home",  "#") %></li>
             <li><%= link_to("Help",  "#") %></li>
             <li><%= link_to("About","#") %></li>
             <li><%= link_to("News",  "#") %></li>
         </ul> 
      </nav>
      <div  id="main-content" class="col-md-8">
        <%= yield %>
      </div>
      <div class="col-md-2">
        
      </div>
    </div>
 </div>

</body>
</html>
